# Sample Notebook

<p>Let's start here.  In Python, as in most programming languages, we have the ability to get very granualar in how we interact with the computer, but we can also stand on the shoulders of giants and reuse their work.  This is what we will opt to do as often as possible, other people have figured out the gory details of how to interpret the format of an Excel file so we don't have to - I'd rather depend on their work and focus on the real value add for our projects - that is spending time doing something with the data!</p>
<br/>
So the first thing we are going to do is ask Python to "load" up the code that knows how to read Exxcel files.  The code is stored in a "module" called pandas (keep in mind that case matters, so Pandas is not the same as pandas).  For simplicity we are going to ask Python to make the utilities in this module available to us whenever we specify the shortcut 'pd'.  (The pd shortcut is common for Pandas).  On to the first set of code.

In [29]:
# Notice the '#' symbol?  This symbol tells Python that we don't want it to try to 'run' the code on this line of text
# This syntax is called a comment, and we can use it to clarify difficult code, or provide a hint as to what the next line (or several lines)
#  of code are meant to do

# Bring the Python module that can read Excel files into our scope so that we can use it, along with a few other helpful libraries
import pandas as pd
from scipy import stats
import numpy as np

In [6]:
# The two key things that Pandas provides us is a Series datatype and a Dataframe.  A series is like a list of values that have an index like a number or
# a date value or a string.  A dataframe is a collection of Series all which share the same index.  So you can think of a dataframe type like a spreadsheet,
# just like when you open a spreadsheet and you see the row numbers on the left side and the column headers across the top, a pandas dataframe is similar
df = pd.read_excel('data/Churn_Dirty.xlsx',index_col='ID')
# The head function, lets use see the first few lines of the file we have loaded from the Excel file
print(df.shape)
df.head()

(3333, 21)

,State,Account Length,Area Code,Phone,Intl Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn
ID,,,,,,,,,,,,,,,,,,,,,
1,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
2,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
3,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
4,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
5,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

So now that we have a sense of what our dataframe looks like, we can see that it has a column called ID, which is the 'index' or the row name, and 
the bold characters across the top give us the name of the columns.  We could look at the entire thing, but that is cumbersome, what we'd rather have is a view a summary of the data, that will help us to understand what we are looking at

In [4]:
df.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.021002,437.182418,8.085209,179.775098,109.405341,30.562307,200.980348,100.026103,17.083540,208.269847,100.053105,9.035161,10.230693,5.678368,2.763057,1.561056
std,39.933132,42.371290,13.696524,54.467389,518.290257,9.259435,50.713844,20.361003,4.310668,428.510605,19.845998,2.292355,2.815939,69.251653,0.759342,1.317627
min,-73.000000,408.000000,-23.000000,0.000000,0.000000,0.000000,0.000000,-147.000000,0.000000,23.200000,-91.000000,-6.940000,-11.000000,0.000000,-2.540000,-3.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.100000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.400000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,30000.000000,59.640000,363.700000,170.000000,30.910000,24767.000000,175.000000,17.770000,20.000000,4000.000000,5.400000,9.000000

Now, that is helpful.  We can see for each column the number of rows, the mean, the max, the min, the standard deviation and the different quartiles.  That is super helpful.

Wait a minute... it looks like Account Length has a value that is less than zero.  That doesn't make any sense.  Let's see if we can find out if this is a common issue or a one-off.

In [7]:
# This is a fancy way of saying, show me all the rows where 'Account Length' values are less than zero
df[df['Account Length'] < 0]

,State,Account Length,Area Code,Phone,Intl Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn
ID,,,,,,,,,,,,,,,,,,,,,
1950,WI,-73,415,419-4894,no,no,0,157.1,109,26.71,...,83,22.85,181.5,91,8.17,10.0,8,2.7,0,True

Wheh!  It looks like only one of them was below zero, I'll bet someone just made a mistake and it should be positive.  Let's change it, in this case - we'll just take the absolute value of the the values (while we are at it lets do it for all the columns with negative values that shouldn't be negative

In [23]:
df['Account Length']=df['Account Length'].abs()
df['VMail Message']=df['VMail Message'].abs()
df['Eve Calls']=df['Eve Calls'].abs()
df['Night Calls']=df['Night Calls'].abs()
df['Night Charge']=df['Night Charge'].abs()
df['Intl Mins']=df['Intl Mins'].abs()
df['CustServ Calls']=df['CustServ Calls'].abs()

In [26]:
df.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,109.405341,30.562307,200.980348,100.114311,17.083540,208.269847,100.107711,9.039325,10.237294,5.678368,2.763057,1.562856
std,39.822106,42.371290,13.688365,54.467389,518.290257,9.259435,50.713844,19.922625,4.310668,428.510605,19.568609,2.275873,2.791840,69.251653,0.759342,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,-2.540000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.100000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.400000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,30000.000000,59.640000,363.700000,170.000000,30.910000,24767.000000,175.000000,17.770000,20.000000,4000.000000,5.400000,9.000000

# Now we should take care of removing the rows where we have outliers
In our purposes we are going to assume outliers are any values where the value is more than 3 standard deviations from the mean

In [39]:
# So lets' find the rows where any of the columns have a std that is greater than 3 (we are using abs because it doesn't matter if it's > 3 or < -3)
def remove_outliers(df_in, col_name):
    return df_in[(np.abs(stats.zscore(df_in[col_name])) < 3)]
    
#df = remove_outliers(df, 'Day Calls')
#df = remove_outliers(df, 'Night Mins')
#df = remove_outliers(df,'Intl Calls')
df = remove_outliers(df, 'VMail Message')
df.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000,3318.000000
mean,101.073840,437.203134,8.053647,179.850271,100.556058,30.575084,201.052471,100.075347,17.089668,200.957866,100.095539,9.043192,10.238969,4.481314,2.763502,1.560579
std,39.857853,42.385653,13.630757,54.284426,19.732879,9.228328,50.708105,19.908648,4.310182,50.597661,19.585167,2.276942,2.792631,2.462890,0.759581,1.314941
min,1.000000,408.000000,0.000000,2.600000,42.000000,0.440000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,-2.540000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.625000,87.000000,14.162500,167.100000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.500000,100.000000,17.130000,201.350000,100.000000,9.060000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,19.000000,216.375000,114.000000,36.785000,235.300000,113.750000,20.000000,235.400000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,49.000000,350.800000,160.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

# Looks like area code is being seen as a float, this doesn't make any sense.
So, we should likely let Pandas know this is more likely